<a href="https://colab.research.google.com/github/PristovaAS/Innopolis/blob/main/Task_05/Pandas_%D0%9F%D1%80%D0%BE%D0%B4%D0%B2%D0%B8%D0%BD%D1%83%D1%82%D1%8B%D0%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Innopolis/Titanic-Dataset.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
print("Пункт 4: \n")
print("Кол-во пустых ячеек в каждом стобце: \n", df.isnull().sum(), "\n")
print("Сумма пустых ячеек:", df.isnull().sum().sum())

Пункт 4:

Кол-во пустых ячеек в каждом стобце:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Сумма пустых ячеек: 866

In [6]:
df['Embarked'].mode() #поиск моды

0    S
Name: Embarked, dtype: object

In [7]:
print(df['Age'].mean())   #поиск среднего значения
print(df['Age'].median()) #поиск медианы

29.69911764705882
28.0

In [8]:
df['Embarked'].fillna('S', inplace=True)           #пункт 5, замена пустух ячеек на моду столбца Embarked
df['Age'].fillna(df['Age'].median(), inplace=True) #пункт 5, замена пустух ячеек на медиану столбца Age
df['Cabin'].fillna(0, inplace=True)                #пункт 5, замена пустух ячеек на 0 столбца Cabin

In [9]:
print("Кол-во пустых ячеек в каждом стобце: \n", df.isnull().sum(), "\n")
print("Сумма пустых ячеек:", df.isnull().sum().sum())

Кол-во пустых ячеек в каждом стобце:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Сумма пустых ячеек: 0

In [10]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
print("Пункт 7: \n")
print("Кол-во уникальных значений в каждом стобце: \n", df.nunique(), "\n")
print("Минимальное значение в стобце числового типа: \n", df.select_dtypes(include='number').min(), "\n")
print("Максимальное значение в стобце числового типа: \n", df.select_dtypes(include='number').max(), "\n")

Пункт 7:

Кол-во уникальных значений в каждом стобце:
 PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          148
Embarked         3
dtype: int64

Минимальное значение в стобце числового типа:
 PassengerId    1.00
Survived       0.00
Pclass         1.00
Age            0.42
SibSp          0.00
Parch          0.00
Fare           0.00
dtype: float64

Максимальное значение в стобце числового типа:
 PassengerId    891.0000
Survived         1.0000
Pclass           3.0000
Age             80.0000
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

In [22]:
print("Пункт 8: \n")
print(f"Доля выживших пассажиров: {df['Survived'].value_counts()[1]/df['Survived'].count():.3f}")
print(f"Колличество выживших пассажиров: {df['Survived'].value_counts()[1]:.1f}")

Пункт 8:

Доля выживших пассажиров: 0.384
Колличество выживших пассажиров: 342.0

In [25]:
df_surv = df[df['Survived']==1]
df_dead = df[df['Survived']==0]
S = df['Survived'].count()

In [35]:
print(f"Доля выживших пассажиров 3 класса: {df_surv[df_surv['Pclass']==3]['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров 2 класса: {df_surv[df_surv['Pclass']==2]['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров 1 класса: {df_surv[df_surv['Pclass']==1]['Survived'].count()/S:.3f}")
print(f"Колличество выживших пассажиров 3 класса: {df_surv[df_surv['Pclass']==3]['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров 2 класса: {df_surv[df_surv['Pclass']==2]['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров 1 класса: {df_surv[df_surv['Pclass']==1]['Survived'].count():.1f}")

Доля выживших пассажиров 3 класса: 0.134
Доля выживших пассажиров 2 класса: 0.098
Доля выживших пассажиров 1 класса: 0.153
Колличество выживших пассажиров 3 класса: 119.0
Колличество выживших пассажиров 2 класса: 87.0
Колличество выживших пассажиров 1 класса: 136.0

In [37]:
print(f"Доля выживших пассажиров мужского пола: {df_surv[df_surv['Sex']=='male']['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров женского пола: {df_surv[df_surv['Sex']=='female']['Survived'].count()/S:.3f}")
print(f"Колличество выживших пассажиров мужского пола: {df_surv[df_surv['Sex']=='male']['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров женского пола: {df_surv[df_surv['Sex']=='female']['Survived'].count():.1f}")

Доля выживших пассажиров мужского пола: 0.122
Доля выживших пассажиров женского пола: 0.262
Колличество выживших пассажиров мужского пола: 109.0
Колличество выживших пассажиров женского пола: 233.0

In [39]:
print(f"Доля выживших пассажиров с порта S: {df_surv[df_surv['Embarked']=='S']['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров с порта C: {df_surv[df_surv['Embarked']=='C']['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров с порта Q: {df_surv[df_surv['Embarked']=='Q']['Survived'].count()/S:.3f}")
print(f"Колличество выживших пассажиров с порта S: {df_surv[df_surv['Embarked']=='S']['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров с порта C: {df_surv[df_surv['Embarked']=='C']['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров с порта Q: {df_surv[df_surv['Embarked']=='Q']['Survived'].count():.1f}")

Доля выживших пассажиров с порта S: 0.246
Доля выживших пассажиров с порта C: 0.104
Доля выживших пассажиров с порта Q: 0.034
Колличество выживших пассажиров с порта S: 219.0
Колличество выживших пассажиров с порта C: 93.0
Колличество выживших пассажиров с порта Q: 30.0

In [42]:
df_male = df_surv[df_surv['Sex']=='male']
df_female = df_surv[df_surv['Sex']=='female']

In [44]:
print(f"Доля выживших пассажиров мужского пола 3 класса: {df_male[df_male['Pclass']==3]['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров мужского пола 2 класса: {df_male[df_male['Pclass']==2]['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров мужского пола 1 класса: {df_male[df_male['Pclass']==1]['Survived'].count()/S:.3f}")
print(f"Колличество выживших пассажиров мужского пола 3 класса: {df_male[df_male['Pclass']==3]['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров мужского пола 2 класса: {df_male[df_male['Pclass']==2]['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров мужского пола 1 класса: {df_male[df_male['Pclass']==1]['Survived'].count():.1f}\n")
print(f"Доля выживших пассажиров женского пола 3 класса: {df_female[df_female['Pclass']==3]['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров женского пола 2 класса: {df_female[df_female['Pclass']==2]['Survived'].count()/S:.3f}")
print(f"Доля выживших пассажиров женского пола 1 класса: {df_female[df_female['Pclass']==1]['Survived'].count()/S:.3f}")
print(f"Колличество выживших пассажиров женского пола 3 класса: {df_female[df_female['Pclass']==3]['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров женского пола 2 класса: {df_female[df_female['Pclass']==2]['Survived'].count():.1f}")
print(f"Колличество выживших пассажиров женского пола 1 класса: {df_female[df_female['Pclass']==1]['Survived'].count():.1f}")

Доля выживших пассажиров мужского пола 3 класса: 0.053
Доля выживших пассажиров мужского пола 2 класса: 0.019
Доля выживших пассажиров мужского пола 1 класса: 0.051
Колличество выживших пассажиров мужского пола 3 класса: 47.0
Колличество выживших пассажиров мужского пола 2 класса: 17.0
Колличество выживших пассажиров мужского пола 1 класса: 45.0

Доля выживших пассажиров женского пола 3 класса: 0.081
Доля выживших пассажиров женского пола 2 класса: 0.079
Доля выживших пассажиров женского пола 1 класса: 0.102
Колличество выживших пассажиров женского пола 3 класса: 72.0
Колличество выживших пассажиров женского пола 2 класса: 70.0
Колличество выживших пассажиров женского пола 1 класса: 91.0